<h2>Pesquisa</h2>

<input type="button" id="btnPesquisar" value="Pesquisar" />

<div id="listaProdutos">

</div>

@section scripts {

    <script>
        $("#btnPesquisar").click(function () {
            $.ajax({
                url: '/Produto/Buscar',
                type: 'GET',
                success: function (response) {
                    $("#listaProdutos").html(response);
                }
            });
        });
        
    </script>    
    
}
